kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pod-reader
rules:
  - apiGroups: [""] # "" indicates the core API group
    resources: ["pods"]
    verbs: ["get", "watch", "list"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: read-pods
subjects:
  # Uses the default service account. Consider creating a new one.
  - kind: ServiceAccount
    name: default
roleRef:
  kind: Role
  name: pod-reader
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: accounts
  labels:
    app: accounts
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 100%
  selector:
    matchLabels:
      app: accounts
  template:
    metadata:
      labels:
        app: accounts
    spec:
#      affinity:
#        # ⬇⬇⬇ This ensures pods will land on separate hosts
#        podAntiAffinity:
#          requiredDuringSchedulingIgnoredDuringExecution:
#            - labelSelector:
#                matchExpressions: [{ key: app, operator: In, values: [accounts] }]
#              topologyKey: "kubernetes.io/hostname"
      containers:
        - name: accounts
          image: "accounts:dev"
          command: [ "./accounts", "run" ]
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 50051
              name: grpc
            - containerPort: 9000
              name: remoting
            - containerPort: 31000
              name: raft-port
          env:
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "64Mi"
              cpu: "100m"
---
 apiVersion: v1
 kind: Service
 metadata:
   name: accounts
 spec:
   type: ClusterIP
   selector:
     app: accounts
   ports:
     - protocol: TCP
       port: 31000
       targetPort: raft-port
       name: raft-port
     - protocol: TCP
       port: 9000
       targetPort: remoting
       name: remoting
     - protocol: TCP
       port: 50051
       targetPort: grpc
       name: grpc
