name: build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 0
      - name: Login to GitHub Docker
        env:
          DOCKER_REGISTRY: ghcr.io
          DOCKER_USER: ${{ github.actor }}
          DOCKER_PASS: ${{ secrets.GITHUB_TOKEN }}
        run: docker login $DOCKER_REGISTRY --username "$DOCKER_USER" --password "$DOCKER_PASS"
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN}}
      - uses: earthly/actions/setup-earthly@v1
        with:
          version: v0.8.13
      - name: Earthly version
        run: earthly --version
      - name: Run Linter and Tests
        env:
          EARTHLY_BUILD_ARGS: "COMMIT_HASH"
          EARTHLY_TOKEN: ${{ secrets.EARTHLY_TOKEN }}
          COMMIT_HASH: ${{ github.sha }}
          FORCE_COLOR: 1
        run: |
          earthly -P -use-inline-cache --save-inline-cache --strict --push +test
      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
          fail_ci_if_error: false
          verbose: true
